<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="OrangeHRM Suite" parallel="false">

    <listeners>
        <listener class-name="listeners.TestListener"/>
        <listener class-name="listeners.RetryListener"/>
    </listeners>
    <test name="Tests">
        <classes>
            <class name="org.orangehrm.tests.LoginTest"/>
            <class name="org.orangehrm.tests.DashboardTest"/>
        </classes>
    </test>
</suite>
